@use 'theme' as *;

.header {
  display: flex;
  align-items: center;
  background-color: $grey-dark;
  justify-content: space-between;
  padding-inline: 20px;
  padding-block: 8px;
  height: 70px;

  .logo {
    width: 40px;
    height: 40px;
    cursor: pointer;

    @include svg-color($white-filter);

    &:hover {
      filter: $crimson-filter;
    }
  }
}
